a,body,div,html,label,li,p,span,ul,details{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	background-color: #1d1d1d;
	color: #bdb29e;
	font-size: 0.875rem;
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-weight: 400;
	line-height: 1.45;
}
input[type="checkbox"] {
	width: .75rem;
	height: .75rem;
	margin-right: .25rem;
}
input[type="radio"] {
	width: .798625rem;
	height: .798625rem;
	margin-right: .25rem;
}
a{
	color: #92d1d5;
	cursor: pointer;
}
a:focus,a:hover{
	color: #c9e8ea;
}
p{
	margin-bottom: .5em;
}
.sidebar-title{
	color: #efefef;
	font-weight: 600;
}
ul.sidebar-list{
	list-style-type: none;
	padding-inline-start: .625rem;
}
.conjunction-title{
	margin-top: .5rem;
}
ul.conjunction-list li{
	display: inline;
}
#root{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#primary{
	flex: 5 1;
	margin: 0;
	max-width: 46.875rem;
	width: 100%;
}
#left-sidebar-overlay{
	display: block;
	opacity: 0;
	z-index: -1000;
}
#left-sidebar-collapsible{
	background-color: #1d1d1d;
	height:100%;
	max-width: 80vw;
	overflow: auto;
	padding: 0 15px;
	position: fixed;
	top: 0;
	-webkit-transform: translateX(-310px);
	transform: translateX(-310px);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.16,.68,.43,.99);
	transition: transform .2s cubic-bezier(.16,.68,.43,.99),-webkit-transform .2s cubic-bezier(.16,.68,.43,.99);
	width: 280px;
	z-index: 1001;
}
#left-sidebar-collapsible.sidebar-open{
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
#left-sidebar{
	display: none;
	flex: 1 1;
	max-width: 11.8rem;
	position: relative;
}
#sidebar-overlay{
	display: block;
	opacity: 0;
	z-index: -1000;
}
#right-sidebar{
	display: none;
	flex: 1 1;
	max-width: 11.8rem;
}
#primary-content:before{
	content: " ";
	border: .125rem solid #897d67;
	position: absolute;
	top: .25rem;
	right: .25rem;
	bottom: .25rem;
	left: .25rem;
	z-index: -1;
}
#primary-content{
	background-color: #bdb29e;
	color: #282520;
	padding: 1rem;
	position: relative;
	z-index: 0;
}
.sidebar-toggle-button{
	position:absolute;
	padding:0;
	top: 10px;
	width: 50px;
	height: 50px;
	background:transparent;
	border:none;
	z-index: 5;
}
.sidebar-toggle-button img{
	width: 50px;
	height: 50px;
}
#left-sidebar-toggle-button {
	left: 6px;
}
#right-sidebar-toggle-button {
	display:none;
	right: 10px;
}
.primary-header{
	align-items: flex-end;
	border-bottom: .125rem solid #91856e;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: .5rem;
	padding-bottom: .5rem;
}
.primary-header h1{
	font-size: 1.512rem;
	font-weight: 700;
	margin: 0;
}
.primary-header .spacer{
	flex-basis: 1em;
}
#permalink,#contact{
	margin-block-end: 0.4em;
}
#permalink img,#contact img{
	height: 1em;
	vertical-align: middle;
	margin-right: 0.2em;
}
#cards{
	display: flex;
	flex-direction: column;
}
.story-card{
	background-color: #ded4c4;
	box-shadow: 0 .0625rem .1875rem #0000001f,0 .0625rem .125rem #0000003d;
	display: flex;
	margin-top: .75rem;
	padding: .5rem;
	position: relative;
}
#cards:before{
	content: "";
	margin-bottom: -.75rem;
}
.story-card .story-headline{
	font-size: 1.125rem;
}
.story-card .story-title{
	font-weight: 600;
}
.story-card .story-author:before{
	content: ' ';
}
.story-release-date{
	margin-left: 1em;
}
.story-details{
	flex: 1 1;
}
.story-scores{
	display: flex;
	flex-basis: 8%;
	flex-direction: column;
	padding-right: .625rem;
	text-align: center;
}
.story-score,.reward-score,.no-score{
	box-shadow: 0 .0625rem .125rem 0 #00000080;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}
.story-scores > div:nth-of-type(2){
	margin-top: .5rem;
}
.exceptional-score{
	background-color: #a8d761;
}
.delicious-score{
	background-color: #e4f4cb;
}
.okay-score{
	background-color: #fce5cd;
}
.dislike-score{
	background-color: #ea9999;
}
.no-score,.liked-score{
	background-color: #bababa;
}
.exceptional-title,.worth_it-title{
	color: #a8d761;
}
.delicious-title{
	color: #e4f4cb;
}
.liked-title{
	color: #bababa;
}
.okay-title{
	color: #fce5cd;
}
.dislike-title,.not_worth_it-title{
	color: #ea9999;
}
.story-fate-costs{
	display: flex;
	flex-basis: 10%;
	flex-direction: column;
	justify-content: center;
	padding-left: .625rem;
	text-align: center;
}
.story-cost{
	color: #1d1d1d;
	background-color: #fcac00;
	border-color: #ba7f00;
	box-shadow: 0 .0625rem .125rem 0 #00000080;
	display: flex;
	flex-basis: 35.54%;
	flex-direction: column;
	flex-grow: 3.687;
	justify-content: center;
}
.cost-label{
	font-weight: 600;
}
.story-cost-separator{
	flex-basis: 9.64%;
	flex-grow: 1;
}
.story-season{
	font-size: .95em;
}
.estimated-text{
    font-size: .90em;
}
.estimated-note{
	font-style: italic;
}
.tag-line{
	align-items: flex-end;
	display: flex;
	margin-top: .5rem;
	text-align: right;
	width: 100%;
}
.tag-line .spacer{
	flex: 10 1;
}
.threads {
	white-space: nowrap;
}
.thread-header{
	font-weight: 600;
}
.threads img{
	vertical-align: text-bottom;
}
a.tag{
	padding-left: .4rem;
}
#primary a{
	color: #254245;
	font-weight: 600;
}
#primary a:hover,#primary a:focus{
	color: #282520;
}
.official-tags + .extra-tags:before{
	content: "\002502";
	margin-right: -.2rem;
	padding-left: .5rem;
	padding-right: 0;
}
span.sidebar-title{
	font-weight: 600;
	margin-bottom: .25rem;
	padding-left: .75rem;
}
.select-control{
	margin-top: .5rem;
}
select{
	background-color: #756b5a;
	border: .0625rem solid #a89e8c;
	border-color: #756b5a;
	color: #ede3d2;
	font-size: 1rem;
	line-height: 1.38462;
	margin-bottom: 1rem;
	padding: .5rem;
	width: 100%;
}
label.filter-label{
	font-variant: small-caps;
}
.sidebar-link{
	font-size: .75rem;
	font-variant: small-caps;
	margin-bottom: .3125rem;
	margin-top: .625rem;
}
summary.sidebar-title{
	cursor: pointer;
}
/* for reasonable browsers */
summary.sidebar-title{
	list-style-type: "\0025B6"; /* BLACK RIGHT-POINTING TRIANGLE */
}
details[open] summary.sidebar-title{
	list-style-type: "\0025BC";  /* BLACK DOWN-POINTING TRIANGLE */
}
/* for safari */
summary::-webkit-details-marker{
	width: .650rem;
	height: .725rem;
	margin: 0;
	padding: .125rem;
	position: relative;
	top: .125rem;
}
[hidden]{
	display: none !important;
}

/* Tooltip styles */
.tooltip-content-inner{
	align-items: flex-start;
	background: #1d1d1d;
	border: .125rem solid #3e3e3e;
	box-shadow: 0 .0625rem .25rem .125rem #00000080;
	color: #efefef;
	display: flex;
	max-width: 18.75rem;
	padding: .5rem;
}
.tooltip-content{
	transition-duration: 0ms;
}
.tooltip-box{
	max-width: 21.875rem;
	transition-duration: 0ms;
}
.tooltip.bottom{
	top: 0px;
	bottom: auto;
}
.tooltip.top{
	top: auto;
	bottom: 0px;
}
.tooltip{
	margin: 0px;
	pointer-events: none;
	position: absolute;
	left: 0px;
	right: auto;
	visibility: visible;
	z-index: 9999;
}
.tooltip.static{
	position: fixed;
	left:0px;
	bottom:0px;
	margin: 1rem;
}

/* Media-specific modifications */
@media (-ms-high-contrast:active),(-ms-high-contrast:none){
	#primary{
		max-width: none;
	}
}
@media (min-width: 992px){
	#root{
		margin-left: 1rem;
		margin-right: 1rem;
	}
	#primary{
		margin-left: 2rem;
	}
	#left-sidebar{
		display: block;
		margin-top: 2.5em;
	}
	#left-sidebar-toggle-button{
		display:none;
	}
	#left-sidebar-collapsible{
		display:none;
	}
	@media (max-width: 1199px) {
		#right-sidebar-toggle-button {
			display: block;
		}
		#right-sidebar {
			display: block;
			background-color: #1d1d1d;
			height:100%;
			max-width: 80vw;
			overflow: auto;
			padding: 0 15px;
			position: fixed;
			top: 0;
			right: 0;
			-webkit-transform: translateX(310px);
			transform: translateX(310px);
			-webkit-transition: -webkit-transform .2s cubic-bezier(.16,.68,.43,.99);
			transition: transform .2s cubic-bezier(.16,.68,.43,.99),-webkit-transform .2s cubic-bezier(.16,.68,.43,.99);
			width: 280px;
			z-index: 1001;
		}
		#right-sidebar.sidebar-open{
			-webkit-transform: translateX(0);
			transform: translateX(0);
			direction: rtl;
		}
		#right-sidebar *{
			direction: ltr;
		}
	}
}
@media (max-width: 1199px) {
	#sidebar-overlay.overlay-open{
		background-color: #00000080;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 1;
		-webkit-transition: opacity .5s;
		transition: opacity .5s;
		z-index: 1000;
	}
}
@media (min-width: 1200px){
	#primary{
		flex: 4 1;
		margin-right: 2rem;
		max-width: 56.25rem;
	}
	#right-sidebar{
		display: block;
		margin-top: 2.5em;
	}
	@media (-ms-high-constrast:active),(-ms-high-constrast:none) {
		#primary{
			max-width: none;
		}
	}
}
